.chat
{
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding:8px;
    cursor: pointer;
    border-bottom: 1px solid rgb(190, 186, 186);
}
.chat_avatar
{
    height: 35px !important;
    width: 35px !important;

}
.chat_stopicon
{
    color:#ed3b55;
}
.chat:hover{
    opacity: 0.8;
}
.chat_info
{
    padding-left: 5px;
    flex: 1;
}
.chat_info>h4{
    font-size: 15px;
    font-weight: 600;
}
.chat_info>p{
    font-size: 11px;
}